body {
    padding: 0;
    margin: 0;
    font-family: Consolas;
    letter-spacing: -0.04em;
    font-size: 1.02em;
}
h1 {
    font-size: 3.5rem;
    font-weight: lighter;
    text-align: center;
}
div h4 {
    max-width: calc(var(--width) + 2.5rem);
    border-bottom: 1px solid #888;
    font-size: large;
}  
div.container {
    width: 400px;
    height: 100vh;
    margin: 0 auto;
    padding: 10px;
}
div.date-panel {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
div.time-panel {
    text-align: center;
    font-size: 3rem;
}
div.weather-descr-panel {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}
div.weather-attrs-panel {
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}
